* {
  box-sizing: border-box;
}

body {
  margin: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 24px;
}

.gallery-item {
  max-width: 360px;
}
